<div class="card-body">
  <h2 class="card-title text-center mb-0">Product Details</h2>
  <p class="text-center">
    <a [routerLink]="['/admin/product/update', product._id]">Edit</a>
  </p>
</div>

<div class="card-body" *ngIf="product.description">
  <p class="card-text">
    Products in Stock:
    <span class="card-text" [innerHTML]="product.stock"></span>
  </p>
  <p class="card-text lead" [innerHTML]="product.description"></p>
</div>

<div *ngIf="auth.isAdmin" class="card-footer text-right small">
  <a href="#" class="btn btn-primary">Purchase</a>
</div>
