<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <h1 class="text-center">{{ pageTitle }}</h1>
  <img class="img-fluid mb-2 d-block mx-auto" src="https://www.skincarisma.com/assets/product-img-placeholder-5389c2f8237c2240d3e82210f31e48218ceef89f5db462839b1cad7df64c9b90.jpg" alt="{{ pageTitle }}">
  <!-- Product -->
  <ng-template [ngIf]="product">
    <p class="text-center h3">${{product.price}}</p>
    <div class="card">
      <!-- Product tab navigation -->
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              [queryParams]="{ tab: 'details' }"
              [ngClass]="{ 'active': utils.tabIs(tab, 'details') }">Details</a>
          </li>
        </ul>
      </div>

      <!-- Product detail tab -->
      <app-product-detail
        *ngIf="utils.tabIs(tab, 'details')"
        [product]="product"></app-product-detail>

    </div>
  </ng-template>

  <!-- Error loading products -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving information for this product.
  </p>
</ng-template>
