<h1 class="text-center">{{ pageTitle }}</h1>
<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="productList">
    <ng-template [ngIf]="productList.length">
      <!-- Search products -->
      <label class="sr-only" for="search">Search</label>
      <div class="search input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">Search</div>
        </div>
        <input
          id="search"
          type="text"
          class="form-control"
          [(ngModel)]="query"
          (keyup)="searchProducts()" />
        <span class="input-group-append">
          <button
            class="btn btn-danger"
            (click)="resetQuery()"
            [disabled]="!query">&times;</button>
        </span>
      </div>

      <!-- No search results -->
      <p *ngIf="fs.noSearchResults(filteredProducts, query)" class="alert alert-warning">
        No products found for <em class="text-danger">{{ query }}</em>, sorry!
      </p>

      <!-- Products listing -->
      <section class="list-group">
        <a
          *ngFor="let product of fs.orderByDate(filteredProducts, 'startDatetime')"
          [routerLink]="['/product', product._id]"
          class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" [innerHTML]="product.title"></h5>
            <small>{{ utils.productDates(product.startDatetime, product.endDatetime) }}</small>
          </div>
        </a>
      </section>
    </ng-template>

    <!-- No upcoming public products available -->
    <p *ngIf="!productList.length" class="alert alert-info">
      No upcoming public products available.
    </p>
  </ng-template>

  <!-- Error loading products -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving product data.
  </p>

</ng-template>
